{% for item in site.data.pCatagory %}
<div id="{{ item.name }}">
    <h1>{{ item.name }}</h1>
    
    <ul id="{{item.name}}Link">
        {% for person in site.people %}
        {% if person.role contains item.name %}
        <li>
            <img src="assets/images/{{ person.name | downcase | replace: ' ', '_' }}" class="peopleImg" alt=" ">
            <h4>{{ person.name }}</h4>
            <span>{{ person.content | truncate: 20 }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div> <br >
{% endfor %}