
html {
	max-width: 110%;
	overflow-x: hidden;
}

.current {
	background-color: #BB261A;
}

nav {
	display: inline-block;
	background-color: #2B2B2B;
	width: 110%;
	margin-top: -8px;
	margin-left: -8px;
	padding-left: 25%;
}

nav a {
	display: inline-block;
	width: 12%;
	height: 5%;
	background-color: #2B2B2B;
	margin-right: -0.5%;
	margin-top: auto;
	padding: 0% 1% 0.5% 1%;
	color: #ccc;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
	outline: none;
}

nav a:hover {
	background-color: #BB261A;
}

.current:hover{
	background-color: #2B2B2B;
}

nav img {
	display: block;
	float: left;
	height: 50px;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 10px;
}

#banner {
	width: 110%;
	background-color: #2B2B2B;
	margin-top: -8px;
	margin-left: -8px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#banner img {
	height: 50px;
}

hr {
	color: #cc0000;
	background-color: #cc0000;
	border: none;
	height: 1px;
}

h1, h2, h3, h4, p {
	font-family: "Roboto", serif;
}

h1 {
	font-size: 2.6875em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1vw;
}

h4 {
	font-size: 1.25em;
}

p {
	font-size: 1em;
}



ul {
	padding-left: 0px;
}

.boxLink {
	display: inline-block;
	background-color: darkred;
	padding: 8px;
	min-width: 100px;
	color: white;
	text-decoration: none;
	text-align: center;
}

/* Dropdown Button */
.droplink {

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	display: contents;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	margin-left: 15%;
}

/* Links inside the dropdown */
.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #BB261A;
	width: 170px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2B2B2B;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.droplink:hover .droplink {background-color: #BB261A;}

#menu-button {
	display: none;
}

.arrowButton {
	display: none;
}


