#people {
	@extend %main-div;

	&Input {
		@extend %main-div;
		display: inline-block;
		text-align: left;
	}

	.pCatagory h1 {
		margin-top: 0.5%;
	}

	ul a {
		display: inline-block;
		text-decoration: none;
		color: black;
		height: 300px;
		width: 200px;
		margin-right: 70px;
		outline: none;

		&:active {
			outline: none;
		}
	}

	ul li {
		text-align: left;
		display: inline-block;

		h4 {
			margin: 0px;
			padding: 0px;
			padding-top: 15px;
		}

		p {
			margin: 0px;
		}
	}

	.oddpCatagory {
		background-color: $backGrey; 
	}

	.pCatagory {
		display: inline-block;
		text-align: left;
		width: 110%;
		margin-left: -20%;
		padding-left: 40%;

		ul {
			width: 70%;
		}
	}
}

.peopleImg {
	background-color: #A0A0A0;
	height: 200px;
	width: 200px;
	display: block;
}

.oddSect {
	background-color: $backGrey; 
}

#person {
	@extend %main-div;
	display: inline-block;
	text-align: initial;

	li {
		display: block;
		margin-bottom: 2em;

		span {
			color: grey;
		}

		h6, span {
			margin: 0;
		}
	}

	h5 {
		margin-top: 0;
	}

	h2 {
		margin-bottom: 0;
	}
	
	h4 {
		color: $headerRed;
	}
}