#plain {
	display: inline-block;
	text-align: left;
	width: 80%;

	& h4 {
		color: $headerRed;
	}

	& strong {
		font-size: 1.1em;
		font-weight: 600;
	}
}

#maps {
	width: 80%;
	display: inline-block;

	&-content {
		text-align: left;
		width: 40%;
		display: inline-block;
		min-width: 200px;
		padding-right: 1%;
		float: left;
	}

	&-panel {
		display: inline-block;
		width: 50%;
		min-width: 200px;
		height: 500px;
		padding-top: 10em;
	}

	p a {
		text-decoration: none;
	}

	strong {
		font-size: 1.1em;
		font-weight: 600;
	}
	
	h4 {
		color: $headerRed;
	}
}