---
layout: default
---

<div id="person">
	<h2>{{ page.name }}</h2>
	<img src="../assets/images/{{ page.name | downcase | replace: ' ', '_' }}" class="peopleImg" alt=" ">
	<h4>{{ page.role }}</h4>
	{{ content }}
</div>

<div id="person">

	<h3>Projects</h3>
	<table>
		<tr id="tableHead">
			<td>Name</td>
			<td>Description</td>
			<td>Link</td>
		</tr>
		<tr id="thSpacer"><td></td><td></td><td></td></tr>
		{% for externalProject in site.data.externalProject %}
			{% if page.name == externalProject.topic %}
			<tr>
				<td>{{ externalProject.name }}</td>
				<td>{{ externalProject.description }}</td>
				<td class="linkCell"><a href="{{ externalProject.link }}" class="boxLink">Link</a></td>
			</tr>
			{% endif %}
		{% endfor %}

		{% for internalProject in site.projects %}
			{% if page.name == internalProject.topic %}
			<tr>
				<td>{{ internalProject.name }}</td>
				<td>{{ internalProject.description }}</td>
				{% assign projectHref = internalProject.url | remove_first: "/" %}
				<td class="linkCell"><a href="../{{ projectHref }}" class="boxLink">Link</a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>