---
layout: default
---

<div id="person">
	<h2>{{ page.name }}</h2>
	<h5>{{ page.role }}</h5>
	<img src="../assets/images/{{ page.name | downcase | replace: ' ', '_' | append: '.png' }}" class="peopleImg" alt=" ">
	{{ content }}
	{% if page.projects != null %}
	<h4>Projects</h4>
	<ul>
		{% assign projectsArray = page.projects | split: ',' %}
		{% for project in projectsArray %}
		{% assign projectCompare = project | strip %}
			{% for externalProject in site.data.externalProject %}
				{% if projectCompare == externalProject.name %}
				<li>
					<h6>{{ externalProject.name }}</h6>
					<span>{{ externalProject.topic }}</span>
					<p>{{ externalProject.description }}</p>
					<a href="{{ externalProject.link }}" class="boxLink">Link</a>
				</li>
				{% endif %}
			{% endfor %}

			{% for internalProject in site.projects %}
				{% if projectCompare == internalProject.name %}
				<li>
					<h6>{{ internalProject.name }}</h6>
					<span>{{ internalProject.topic }}</span>
					<p>{{ internalProject.description }}</p>
					<a href="{{ internalProject.url | absolute_url }}" class="boxLink">Link</a>
				</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}
</div>